$table-border-color: #ccc;
$icon-color-default: #666;
$icon-size: 20px;
$bg-color: #f1f7f7;
$odd-row-bg-color: #f1f7f7;
$even-row-bg-color: #ffffff;

.mat-table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid $table-border-color;
  background-color: $bg-color;
  margin-top: 10px;

  th,
  td {
    border: 1px solid $table-border-color;
    padding: 8px;
    white-space: nowrap;
  }

  .mat-column-sl-no {
    width: 70px;
  }

  .mat-column-actions {
    width: 150px;
    .mat-sort-header-arrow {
      visibility: hidden;
    }
  }

  .action-buttons {
    display: none;
  }

  .hoverable-row:hover .action-buttons {
    display: inline-block;
  }

  .mat-icon.icon-styling {
    font-size: $icon-size !important;
    color: $icon-color-default; 
  }

  .currency-column {
    float: right;
  }

}

.paginator-style {
  background-color: #f1f7f7;
}

.add-button {
  background-color: #085026 !important;
  color: white !important;
}

.button-container {
  display: flex;
  justify-content: flex-end; 
}

.add-button {
  background-color: #085026; 
  color: #fff; 
}
