<div class="">

  <div class="button-container">
    <button mat-raised-button class="add-button" (click)="addNewRow()">Add</button>
  </div>
  
  
  <table mat-table [dataSource]="dataSource" matSort class="mat-table">
    <ng-container *ngFor="let column of tableInfo" [matColumnDef]="column.data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header ><b> {{ column.label }} </b></th>
      <td mat-cell *matCellDef="let element" class="hoverable-row">
        <ng-container [ngSwitch]="column.type">

          <span *ngSwitchCase="'currency'" class="currency-column">
            <ng-container *ngIf="element.editing; else displayCurrency">
              <input matInput [(ngModel)]="element[column.data]" type="number" />
            </ng-container>
            <ng-template #displayCurrency>
              {{ element[column.data] | currency:'INR' }}
            </ng-template>
          </span>

          <span *ngSwitchDefault>
            <ng-container *ngIf="element.editing && column.editable; else displayDefault">
              <input matInput [(ngModel)]="element[column.data]" />
            </ng-container>
            <ng-template #displayDefault>
              {{ element[column.data] }}
            </ng-template>
          </span>

         <ng-container *ngSwitchCase="'icons'">
            <ng-container *ngIf="element.editing; else displayButtons">
              <button mat-icon-button (click)="saveElement(element)">
                <mat-icon class="icon-styling">check</mat-icon>
              </button>
              <button mat-icon-button (click)="cancelEdit(element)">
                <mat-icon class="icon-styling">close</mat-icon>
              </button>
            </ng-container>
            
            <ng-template #displayButtons>
              <button mat-icon-button class="action-buttons" (click)="editElement(element)">
                <mat-icon class="icon-styling">edit</mat-icon>
              </button>
              <button mat-icon-button class="action-buttons" (click)="deleteElement(element)">
                <mat-icon class="icon-styling">delete</mat-icon>
              </button>
            </ng-template>
          </ng-container>
        </ng-container>

      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="paginator-style" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
