$table-border-color: #ccc;
$icon-color-default: #666;
$icon-size: 20px;
$bg-color: #f1f7f7;
$odd-row-bg-color: #f1f7f7;
$even-row-bg-color: #ffffff;

.mat-table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid $table-border-color;
  background-color: $bg-color;
  margin-top: 10px;

  th,
  td {
    border: 1px solid $table-border-color;
    padding: 8px;
    white-space: nowrap;
  }

  .mat-column-sl-no {
    width: 70px;
  }

  .mat-column-actions {
    width: 150px;
    .mat-sort-header-arrow {
      visibility: hidden;
    }
  }

  .action-buttons {
    display: none;
  }

  .hoverable-row:hover .action-buttons {
    display: inline-block;
  }

  .mat-icon.icon-styling {
    font-size: $icon-size !important;
    color: $icon-color-default;
  }

  .currency-column {
    float: right;
  }
}

.paginator-style {
  background-color: #f1f7f7;
}

.add-search-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.add-button {
  background-color: #085026 !important;
  color: white !important;
}
.inputField {
  background-color: #f1f7f7;
}


:host ::ng-deep {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #f1f7f7 !important;
  }
  .mat-primary {
    --mat-full-pseudo-checkbox-selected-icon-color: #085026;
    --mat-full-pseudo-checkbox-selected-checkmark-color: #fafafa;
    --mat-full-pseudo-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mat-full-pseudo-checkbox-disabled-selected-checkmark-color: #fafafa;
    --mat-full-pseudo-checkbox-disabled-unselected-icon-color: #b0b0b0;
    --mat-full-pseudo-checkbox-disabled-selected-icon-color: #b0b0b0;
    --mat-minimal-pseudo-checkbox-selected-checkmark-color: #085026;
    --mat-minimal-pseudo-checkbox-disabled-selected-checkmark-color: #b0b0b0;
}
}
