<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort class="mat-table">
    <ng-container *ngFor="let column of tableInfo" [matColumnDef]="column.data">
      <th mat-header-cell *matHeaderCellDef mat-sort-header ><b> {{ column.label }} </b></th>
      <td mat-cell *matCellDef="let element" class="hoverable-row">
        <ng-container [ngSwitch]="column.type">
          <span *ngSwitchCase="'currency'" class="currency-column">{{ element[column.data] | currency:'INR' }}</span>
          <span *ngSwitchDefault>{{ element[column.data] }}</span>
          <ng-container *ngSwitchCase="'icons'">
            <button mat-icon-button class="action-buttons" (click)="editElement(element)">
              <mat-icon class="icon-styling">edit</mat-icon>
            </button>
            <button mat-icon-button class="action-buttons" (click)="deleteElement(element)">
              <mat-icon class="icon-styling">delete</mat-icon>
            </button>
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator  [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
