.section-styles {
  display: flex;
  justify-content: center;
  height: 100vh;
  max-width: 90%;
}

.header-styles {
  color: #085026;
  font-family: cursive;
}

.sub-header {
  color: #085026;
  font-family: cursive;
}
